<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicationtest2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" android:required="false"/>
    <!--使用相机资源权限-->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_x_cup"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="util.GlideConfig"
            android:value="GlideModule" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FansActivity" />
        <activity android:name=".AuthorActivity" />
        <activity android:name=".ArticleActivity" />
        <activity android:name=".CustomServiceActivity" />
        <activity android:name=".CollectionActivity" />
        <activity android:name=".ShowImageActivity" />
        <activity
            android:name=".ForumDetailActivity"
            android:theme="@style/ForumDetailTheme" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".AddForumActivity" />
        <activity android:name=".ReviseUserInfoActivity"></activity>

        <activity
            android:name="com.lidong.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.lidong.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme"/>
    </application>

</manifest>